/* Página */
body {
    margin: 0;
    padding: 3rem;

    background-color: #eeeeee;

    font-family: Arial, sans-serif;
}


/* Contenedor de las 3 cards */
.cards-container {
    display: flex;

    justify-content: center;

    gap: 2rem;
}


/* Cada card */
.card {
  width: 18rem;

    background-color: white;

    padding: 0.8rem;

    border: 1px solid #dddddd;

    box-shadow: 0 0.2rem 0.5rem #cccccc;
}


/* Imagen */
.card img {
    width: 100%;
    height: 12rem;

    object-fit: cover;
}


/* Título */
.card h2 {
    font-size: 1.1rem;

    margin-bottom: 0.3rem;
}


/* Descripción */
.card p {
    font-size: 0.9rem;

    line-height: 1.6;

    margin-top: 0;
}


/* Link */
.card a {
    display: block;

    text-align: right;

    color: #3498db;

    text-decoration: none;

    margin-top: 1rem;
}


/* Cuando ponemos el mouse sobre el link */
.card a:hover {
    text-decoration: underline;
}


/* Pantallas pequeñas */
@media (max-width: 700px) {

    body {
        padding: 1rem;
    }


    .cards-container {
        flex-direction: column;

        align-items: center;
    }


    .card {
        width: 90%;
    }

}